.dropdown{
    position: absolute;
    top: 120%;
    right: 5px;
    padding: 12px;
    border-radius: 8px;
    width: 150px;
    background: var(--alice-blue-top);
    box-shadow: var(--shadow);
    
    & > ul li, > ul a{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
    }
    & > ul li svg, > ul a svg{
     margin-right: 12px;
    }
}
.dropdown.closed{
    display: none;
}